<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The Movie Database.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6085DA631E1AAF25000193FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085DA771E1AAF26000193FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6085DA821E1AAF26000193FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
